In [1]:
import mysql.connector

In [2]:


mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1234"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021E74523310>

In [4]:
mycursor = mydb.cursor()

mycursor.execute("use student")

In [7]:
mycursor.execute("CREATE TABLE Marks(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), std INT)")